<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{vendor}} Products</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container-lg">
            <div class="row">
                <div class="container-fluid d-flex justify-content-center align-items-center">
                    <a class="navbar-brand" href="/"><h2 class="text-center">JOPENTS</h2></a>
                </div>
            </div>
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8 d-flex flex-column justify-content-center align-items-center">
                    <h3 class="text-center">Search by company, developer, or project for CVEs!</h3>
                </div>
                <div class="col-2"></div>
            </div>
            <div class="row">
                <div class="col-3"></div>
                <div class="col-6">
                    <form class="d-flex flex-column align-items-center" id="vSearch" method="GET" action="/search">
                        <div class="mb-3">
                            <input type="text" class="form-control" id="search" name="search">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
                <div class="col-3"></div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-5 d-flex flex-column"></div>
                <div class="col-5 d-flex flex-column">
                    <h4 class="text-center">{{vendor}} Products:</h4>
                    <p class="text-center">(Software releases - click to view all CVEs)</p>
                    <table class="table col-8">
                        <thead>
                            <tr>
                                <th scope="col" class="col-5">PID</th>
                                <th scope="col" class="col-7">Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in range(pcount) %}
                                <tr>
                                    <td scope="row" class="col-5">{{products[i][0]}}</td>
                                    <td class="col-7"><a href="/product/{{products[i][0]}}">{{products[i][1]}}</a</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <p class="text-center">
                        Showing {{pcount}} of {{pcount}} results
                    </p>
                </div>
                <div class="col-1"></div>
            </div>
        </div>
    </body>
</html>